body{

font-family: Arial, sans-serif;
margin:0;
padding:0;

background:#f8f8f8;

}


nav{

display:flex;
justify-content:space-between;
padding:20px;

background:white;

}


nav a{

margin:15px;
text-decoration:none;

}



.hero{

padding:80px 20px;
text-align:center;

}


.hero h1{

font-size:45px;

}



button{

padding:12px 25px;
border:none;
cursor:pointer;

}



section{

padding:40px;

}



.card{

background:white;
padding:20px;
margin:20px;
border-radius:10px;

}
